TELEGRAM_BOT_TOKEN=123456:your-bot-token
YTGRAB_URL=http://127.0.0.1:3000 (for this one use the main server ip or domain url because it is used to send direct download link to telegram bot)
YTGRAB_PASSWORD=some-password
ALLOWED_USER_IDS=123456789
